#--------------------------------------------------------------------------
# If you want to change the container name, network name or
# the source code folder, you can create a DotEnv file
# and override the Docker Compose variables.
#
# You can run the following command in the terminal
# to create your DotEnv file.
#
# cp .env.example .env
#--------------------------------------------------------------------------

#--------------------------------------------------------------------------
# Container env
#--------------------------------------------------------------------------

# The project name. | default: goravel
APP_NAME="goravel"

# The Goravel app container name. | default: goravel_app
APP_CONTAINER_NAME="${APP_NAME}_app"

#--------------------------------------------------------------------------
# Database (MySQL) env
#--------------------------------------------------------------------------

# The MySQL database container name. | default: goravel_db
DB_CONTAINER_NAME="${APP_NAME}_db"

# The MySQL database configuration. | default: goravel
DB_DATABASE=goravel

#--------------------------------------------------------------------------
# Network env
#--------------------------------------------------------------------------

# Map the app container exposed port to the host port. | default: 80
APP_PORT=80

# Map the database container exposed port to the host port. | default: 3306
DB_PORT=3306

# The Docker network for the container. | default: goravel_local
NETWORK_NAME="${APP_NAME}_local"

# Map the Redis container exposed port to the host port. | default: 6379
REDIS_PORT=6379

#--------------------------------------------------------------------------
# Redis env
#--------------------------------------------------------------------------

# The Redis container name. | default: goravel_redis
REDIS_CONTAINER_NAME="${APP_NAME}_redis"

#--------------------------------------------------------------------------
# Volume env
#--------------------------------------------------------------------------

# The project source code directory. | default: /code
CODE_DIR=/code

# The MySQL database volume. | default: goravel_db_data
DB_VOLUME_NAME="${DB_CONTAINER_NAME}_data"

# The Redis volume. | default: goravel_redis_data
REDIS_VOLUME_NAME="${REDIS_CONTAINER_NAME}_data"
