#--------------------------------------------------------------------------
# If you want to change the container name, network name or
# the source code folder, you can create a DotEnv file
# and override the Docker Compose variables.
#
# You can run the following command in the terminal
# to create your DotEnv file.
#
# cp .env.example .env
#--------------------------------------------------------------------------

#--------------------------------------------------------------------------
# Container env
#--------------------------------------------------------------------------

# The project name. | default: apostrophe
APP_NAME="apostrophe"

# The ApostropheCMS app container name. | default: apostrophe_app
APP_CONTAINER_NAME="${APP_NAME}_app"

#--------------------------------------------------------------------------
# Database (MongoDB) env
#--------------------------------------------------------------------------

# The MongoDB database container name. | default: apostrophe_mongodb
MONGO_CONTAINER_NAME="${APP_NAME}_mongodb"

# The MongoDB database configuration. | default: apostrophe
MONGO_DATABASE="${APP_NAME}"

# The MongoDB database user credentials.
MONGO_USERNAME=""
MONGO_PASSWORD=""

#--------------------------------------------------------------------------
# Network env
#--------------------------------------------------------------------------

# Map the app container exposed port to the host port. | default: 80
APP_PORT=80

# Map the database container exposed port to the host port. | default: 27017
MONGO_PORT=27017

# The Docker network for the containers. | default: apostrophe_local
NETWORK_NAME="${APP_NAME}_local"

#--------------------------------------------------------------------------
# Volume env
#--------------------------------------------------------------------------

# The project source code directory. | default: /code
CODE_DIR=/code

# The MongoDB database volume. | default: apostrophe_mongodb_data
MONGO_VOLUME_NAME="${MONGO_CONTAINER_NAME}_data"
