#--------------------------------------------------------------------------
# ! The Docker Compose file is configured for local environments.
# ! Do not deploy the Remotion sample in production environments.
#--------------------------------------------------------------------------

# Docker compose version - https://docs.docker.com/compose/compose-file
version: "3.9"

# The Docker services.
services:
  # The Remotion app container.
  remotion:
    # https://hub.docker.com/_/node
    image: node:alpine
    container_name: ${APP_CONTAINER_NAME:-remotion_app}
    networks:
      - local
    # Map the app container exposed port to the host port.
    ports:
      - ${APP_PORT:-80}:${APP_PORT:-80}
    tty: true
    volumes:
      - .${CODE_DIR:-/code}:/app
    working_dir: /app
    # Start the Remotion dev server.
    # https://www.remotion.dev/docs/cli/preview
    command: [
      "yarn", "run", "start",
      "--port", "${APP_PORT:-80}"
    ]

# Docker networks
networks:
  local:
    driver: "bridge"
    name: "${NETWORK_NAME:-remotion_local}"
