#--------------------------------------------------------------------------
# If you want to change the container name, network name or
# the source code folder, you can create a DotEnv file
# and override the Docker Compose variables.
#
# You can run the following command in the terminal
# to create your DotEnv file.
#
# cp .env.example .env
#--------------------------------------------------------------------------

#--------------------------------------------------------------------------
# Container env
#--------------------------------------------------------------------------

# The project name. | default: drupal
APP_NAME="drupal"

# The Drupal app container name. | default: drupal_app
APP_CONTAINER_NAME="${APP_NAME}_app"

#--------------------------------------------------------------------------
# Database (MariaDB) env
#--------------------------------------------------------------------------

# The MariaDB database container name. | default: drupal_db
DB_CONTAINER_NAME="${APP_NAME}_db"

# The MariaDB database configuration. | default: drupal
DB_DATABASE="${APP_NAME}"

# The MariaDB database user credentials.
DB_USERNAME=
DB_PASSWORD=

#--------------------------------------------------------------------------
# Drupal env
#--------------------------------------------------------------------------

# The Drupal admin user credentials.
DRUPAL_EMAIL=
DRUPAL_USER=
DRUPAL_PASSWORD=

#--------------------------------------------------------------------------
# Network env
#--------------------------------------------------------------------------

# Map the app container exposed port to the host port. | default: 80
APP_PORT=80

# Map the database container exposed port to the host port. | default: 3306
DB_PORT=3306

# The Docker network for the containers. | default: drupal_local
NETWORK_NAME="${APP_NAME}_local"

#--------------------------------------------------------------------------
# Volume env
#--------------------------------------------------------------------------

# The project source code directory. | default: /code
CODE_DIR=/code

# The MariaDB database volume. | default: drupal_db_data
DB_VOLUME_NAME="${DB_CONTAINER_NAME}_data"
